<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap3/css/bootstrap-theme.css">

    <!-- 引入jquery文件 -->
    <!--<script type="text/javascript" src="../js/jquery.min.js"></script>-->
    <script type="text/javascript" src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/jquery.min.js"></script>
    <!-- 引入bootstrap的js文件 -->
    <script type="text/javascript" src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap3/js/bootstrap.min.js"></script>

    <!-- 引入表格的css和js文件 -->
    <link rel="stylesheet" href="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-table/bootstrap-table.css">
    <script src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <!-- 引入弹框的js文件 -->
    <script src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-bootbox/bootbox.js"></script>

    <!-- 引入日期得css和js文件 -->
    <script src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
</head>
<body>
    <table id="initTable" class="table"></table>
</body>
    <script>
        //初始化加载
        $(function(){
            initTable();
        })
        //加载汽车表格
        function initTable(){
            $("#initTable").bootstrapTable({
                url:"../facility/findFacilityMy",
                columns:[
                    {field:"orderId",title:"orderId"},
                    {field:"exchangeType",title:"exchangeType"},
                    {field:"createDate",title:"createDate"},
                    {field:"makeTime",title:"makeTime"},
                    {field:"currentState",title:"currentState"},
                    /*{field:"tools",title:"tools",formatter:function (value,rows,index) {
                        var str = "";
                        str+='<button type="button" onclick="delPhone('+rows.phoneId+')" class="btn btn-default">删除</button>';
                        str+='<button type="button" onclick="toUpd('+rows.phoneId+')" class="btn btn-default">修改</button>';
                        return str;
                        }}*/
                ],
                pagination:true,
                pageSize:5,
                pageList:[5,10,15,20],
                pageNumber:1,
                sidePagination:'server',
                queryParams:function(){
                    return {
                        page:this.pageNumber,//第几页
                        rows:this.pageSize,//每页条数x
                    };
                }
            })
        }
    </script>
</html>