<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap3/css/bootstrap-theme.css">

    <!-- 引入jquery文件 -->
    <!--<script type="text/javascript" src="../js/jquery.min.js"></script>-->
    <script type="text/javascript" src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/jquery.min.js"></script>
    <!-- 引入bootstrap的js文件 -->
    <script type="text/javascript" src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap3/js/bootstrap.min.js"></script>

    <!-- 引入表格的css和js文件 -->
    <link rel="stylesheet" href="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-table/bootstrap-table.css">
    <script src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <!-- 引入弹框的js文件 -->
    <script src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-bootbox/bootbox.js"></script>

    <!-- 引入日期得css和js文件 -->
    <script src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
</head>
<body>
    <div  class="container">
        <form  class="form-horizontal">
            <!--<div class="col-sm-4">
                <li>
                    <ul>"+data.equipmentType+"</ul>
                    <ul>"+data.equipmentImg+"</ul>
                    <ul>"+data.equipmentReserves+"存储空间</ul>
                    <ul>"+data.waterproofLevel+"级别防水,水下1米可以浸泡30分钟</ul>
                    <ul>全钢加厚机身</ul>
                    <ul>3D立体面板</ul>
                    <ul>光电收获检测</ul>
                    <ul>进口压缩机，自动压缩货物</ul>
                    <ul>高亮LED照明</ul>
                    <ul>智能云平台</ul>
                </li>
                <div>"+data.equipmentPrice+"/年</div>
                <div><button onclick="shenqing('+data.id+')" type="button" class="btn btn-primary btn-lg">（大按钮）Large button</button></div>
            </div>-->
            <span id="div-s"></span>
        </form>
    </div>
</body>
    <script>
        $(function(){
            $.ajax({
                url:"../facility/findFacilityClient",
                success:function(data){
                    for (var i = 0; i < data.length;i++){
                        $("#div-s").append(
                        '<div class="col-sm-4">'+
                                '<div>'+data[i].equipmentType+'</div>'+
                                '<div style="height: 200px;"><img src="'+data[i].equipmentImg+'"/></div>'+
                            '<ul>'+
                                '<li>'+data[i].equipmentReserves+'存储空间</li>'+
                                '<li>'+data[i].waterproofLevel+'级别防水,水下1米可以浸泡30分钟</li>'+
                                '<li>全钢加厚机身</li>'+
                                '<li>3D立体面板</li>'+
                                '<li>光电收获检测</li>'+
                                '<li>进口压缩机，自动压缩货物</li>'+
                                '<li>高亮LED照明</li>'+
                                '<li>智能云平台</li>'+
                            '</ul>'+
                            '<div style="width: 100%"><center><h4 style="color: red">'+data[i].equipmentPrice+'/年</h4></center></div>'+
                            '<center style="width: 100%"><center><button onclick="shenqing('+data[i].id+')" type="button" class="btn btn-primary btn-lg">立即申请</button></center></div>'+
                        '</div>'
                        )
                    }
                }
            })
        })
    </script>
</html>