<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap3/css/bootstrap-theme.css">

    <!-- 引入jquery文件 -->
    <!--<script type="text/javascript" src="../js/jquery.min.js"></script>-->
    <script type="text/javascript" src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/jquery.min.js"></script>
    <!-- 引入bootstrap的js文件 -->
    <script type="text/javascript" src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap3/js/bootstrap.min.js"></script>

    <!-- 引入表格的css和js文件 -->
    <link rel="stylesheet" href="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-table/bootstrap-table.css">
    <script src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <!-- 引入弹框的js文件 -->
    <script src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-bootbox/bootbox.js"></script>

    <!-- 引入日期得css和js文件 -->
    <script src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="https://education-tm.oss-cn-beijing.aliyuncs.com/js/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
</head>
<body>
    <div  class="container">
        <form id="div-s" class="form-horizontal" id="userForm">
            <div class="form-group">
                <div class="col-sm-4">

                </div>
            </div>
        </form>
    </div>
</body>
    <script>
        $(function(){
            $.ajax({
                url:"../facility/findFacilityClient",
                success:function(data){
                    for (var i = 0; i < data.length();i++){
                        $("#div-s").append(

                        )
                    }
                }
            })
        })
    </script>
</html>